<html lang="en" xmlns:th="http://www.thymeleaf.com" xmlns:sec="http://www.thymeleaf.com/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Bitwisor Company Home Page</title>
</head>
<body>

<h2>Bitwisor Company Home Page</h2>
<hr>
Welcome to Bitwisor company home page!
<hr>
<!-- display username and role -->
<p>
    User:<span sec:authentication="principal.username"></span>
    <br><br>
    Role(s): <span sec:authentication="principal.authorities"></span>
</p>
<hr>

<div sec:authorize="hasRole('MANAGER')">

    <!-- Add a link to point to /leaders... -->
    <p>
        <a th:href="@{/leaders}">Leadership Meeting</a>
        (Only for Manager peeps)

    </p>

</div>
<div sec:authorize="hasRole('ADMIN')">
    <!-- Add a link to point to /systems... -->
    <p>
        <a th:href="@{/systems}">IT Systems Meeting</a>
        (Only for Admin peeps)

    </p>
</div>

    <form action="#" th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>